<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Servicio_de_Banquetes.Properties.Settings.loginSBConnectionString"
            connectionString="Data Source=DESKTOP-UU2NPB7\SQLEXPRESS;Initial Catalog=loginSB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>